# deps
/node_modules

# generated content
.contentlayer
.content-collections
.source

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.vercel
next-env.d.ts

# Hide development/internal folders from public repo
/src/components/showcase/
/src/components/source-code/
/src/components/kibo-ui/
/src/lib/layout.shared.tsx
*.tsbuildinfo
package-lock.json
